@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*==========================================================================
-------------------------------     Colors   -------------------------------
============================================================================*/

:root {
	--main-bg-color: #141414;
	--light-grey-color: #86868b;
	--medium-grey-color: #a5a5ab;
	--main-heading-color: #f5f5f7;
	--main-border-color: #333333;
}

/*==========================================================================
-------------------------     Typography     ---------------------------
============================================================================*/

h6,
p,
button,
address,
::placeholder,
.collapse div,
.lead {
	font-family: 'Bitter', serif
}

.nav-item,
.btn,
h5 {
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
nav {
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.nav-item,
h5 {
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn {
	font-size: .9rem;
}

h5 {
	font-size: 1rem;
}

h6,
p,
button,
address,
::placeholder,
.collapse div {
	color: var(--light-grey-color)
}

p {
	font-size: 15px;
}

h6 {
	font-size: 0.9rem;
}

/*==========================================================================
------------------------------     Main     --------------------------------
============================================================================*/

body {
	height: 100%;
}

#background {
	background-color: var(--main-bg-color);
	position: absolute;
	width: 100%;
	top: calc(100vh);
	transition: height 0.2s ease-out;
}

address {
	letter-spacing: .3px;
}

/*==========================================================================
-------------------------     Landing Screen     ---------------------------
============================================================================*/

.video-container,
#profile-greyscale {
	display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
}

video {
	background-color: var(--main-bg-color);
}

#profile-greyscale img {
	clip-path: inset(100% 0 0 0);
	transition: clip-path .3s ease-out;
}

.profile-video,
#profile-greyscale img {
	height: 100vh;
	object-fit: cover;
}

#viewport-header {
	position: relative;
  	height: 100vh;
	font-family: 'Bebas Neue', cursive;
	color: var(--main-heading-color);
	top: 0;
    left: 0;
}

#viewport-header h1 {
    margin-bottom: 0;
}

#viewport-header h4,
#viewport-header h1 {
	margin-left: 8px;
}
#viewport-header h4 {
    font-size: 1.2rem;
}

#intro-arrow {
	fill: white;
    position: fixed;
    right: 25%;
    bottom: 20px;
    height: 50px;
    animation: updown 1s infinite ease-in-out;
	display: none;
	cursor: pointer;
	transition: right .65s ease-in-out;
}

@keyframes  updown {
  0% {
    transform: translateY(5%)
  }
  50% {
    transform: translateY(-10%)
  }
  100% {
	transform: translateY(5%)	
	}
}

/*==========================================================================
--------------------------     Header    -----------------------------
============================================================================*/

.sticky {
	z-index: 100;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
	position: absolute;
} 

.navbar-brand {
    letter-spacing: 1.6px;
    font-size: 1.6rem;
}

.bg-light {
    background-color: var(--main-heading-color) !important;
}

.navbar-light .navbar-brand {
    color: var(--main-bg-color);
}

/*==========================================================================
--------------------------     Introduction  -----------------------------
============================================================================*/

.jumbotron {
    background-color: var(--main-bg-color);
	color: var(--main-heading-color);
}

.social-icon {
	height: 3rem;
    width: 3rem;
    fill: var(--main-heading-color);
    margin-top: 11px;
}

a {
	color: var(--medium-grey-color);
}

a:hover,
.highlight {
	color: var(--main-heading-color);
}

/*==========================================================================
--------------------------     Project Container   -----------------------------
============================================================================*/

.card-footer .btn {
	border-color: var(--medium-grey-color);
	color: var(--medium-grey-color);
	width: 42%;
}

.card-footer .btn:hover {
	border-color: var(--main-heading-color);
	color: var(--main-heading-color);
	background-color: var(--main-bg-color);
}

.more-info {
	height: 50px;
    text-align: left;
    margin-left: -8px;
    margin-top: -10px;
	transition: transform .35s ease-in-out;
	fill: var(--medium-grey-color);
}

.card-body {
	color: var(--main-heading-color);
	padding-bottom: 0;
}

.card {
	background-color: var(--main-bg-color);
}

.card-subtitle {
	color: var(--light-grey-color);
}

.card-title {
	font-weight: 300;
}

.project-link,
.project-link:hover,
.project-link:visited {
	text-decoration: none;
	color: var(--main-bg-color);
}

.card-footer {
	border-color: var(--main-border-color);
}

.card-img-top {
	opacity: 85%;
}

.border-dark {
    border-color: var(--main-border-color) !important;
}

footer p {
	color: #353434; /*made to be barley visable*/
}

/*==========================================================================
-------------------------     Media Queries     ----------------------------
============================================================================*/

@media (min-width: 768px) {
	#down-arrow {
		bottom: 20px;
		height: 80px;
		right: 27%;
	}
}

@media (min-width: 992px) {
	#down-arrow {
		height: 90px;
		bottom: 30px;
	}
/*---- Landing Screen ----*/
	.profile-video,
	#profile-greyscale img {
		width: 100vw;
	}
	#viewport-header {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	#viewport-header p,
	#viewport-header h1 {
		margin-left: 0;
    	margin-bottom: 0;
	}
	
	#viewport-header p {
	margin-right: 1.6rem;
	}
}